{% extends "base.html" %}
{% block title %}Register System{% endblock %}

{% block content %}

{% if message  %}
    <div class="alert alert-secondary" role="alert">
        <p>{{ message }}</p>
    </div>
{% endif %}
<div style="display: flex; width: 100%; justify-content: center; align-items: center; "></style>
  <form style="width: 50%; padding: 10px; background-color: lightsteelblue; display: flex; flex-direction: column; justify-content: space-between; align-items: center;" action="" method="post">
    <h4>Sign Up!</h4>

    <div style="width: 100%; display: flex; flex-direction: column;" class="form-group">
          <label for="Fullname">Full name</label>
          <input name="fullname" class="form-control" id="inputFullName" aria-describedby="emailHelp" placeholder="Enter full name">
          <small id="fullName" class="form-text text-muted">Please enter your full name(First name and Last name)</small>
    </div>

    <div style="width: 100%; display: flex; flex-direction: column;" class="form-group">
          <label for="InputEmail">Email address</label>
          <input name="email" class="form-control" id="InputEmail"  placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div style="width: 100%; display: flex; flex-direction: column;"  class="form-group">
      <label for="InputPassword">Password</label>
      <input type="password" name="password1" class="form-control" id="InputPassword" placeholder="Password">
    </div>

    <div style="width: 100%; display: flex; flex-direction: column;" class="form-group">
      <label for="InputPassword2">Repeat Password</label>
      <input type="password" name="password2" class="form-control" id="InputPassword2" placeholder="Repeat Password">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>


{% endblock %}