{% extends "base.html" %}
{% block content %}
{% if message  %}
        <h1>Hello! {{ user }}</h1>
        <h1>Current Email : {{ email }}</h1>
        <img src="{{ picture }}" alt="">
        <a href="/login">Go to Game</a>
        <h2>Make Changes Below</h2>
{% endif %}
<form action="" method="post">
    <div class="form-group">
      <label for="emailChange">Change Email address</label><br>
      <input name="newemail" class="form-control" id="newemail"  placeholder="Enter a new email">
    </div>
    <div class="form-group">
      <label for="passwordChange">Change Password</label>
      <input type="newpassword" name="password" class="form-control" id="newpassword" placeholder="Enter a new Password">
    </div>
    <div class="form-group">
        <label for="file"></label>
        <input type=file name=file placeholder="Upload your profile picture">
    </div>
</form>
{% endblock %}