<!DOCTYPE html>
<html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<p>Hello You have Logged in as </p>
<p id ="name">{{ name }}</p>
<p id ="msg">  </p>

<form action="" method="POST">
    <input type="text" class="username" placeholder="Send to UserName"/>
    <input type="text" class="message" placeholder="Message"/>
    <input type="submit" value="Message"/>
</form>

<style>
canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}
</style>
</head>
<body onload="connect()">
<p id = "coordinate"></p>
<p id = "npc"></p>

<script>

var myGamePiece;
var otherplayers = "";
var myName = document.getElementById("name").innerHTML;
var messages = []
var myMessage = ""

var myGameArea = {
    canvas : document.createElement("canvas"),
    start : function() {
        this.canvas.width = window.innerWidth-100;
        this.canvas.height = window.innerHeight-200;
        this.context = this.canvas.getContext("2d");
        document.body.insertBefore(this.canvas, document.body.childNodes[0]);
        this.interval = setInterval(updateGameArea, 100);
    },
    clear : function() {
        this.context.clearRect(0, 0, this.canvas.width, this.canvas.height);
    }
}

function component(width, height, color, x, y) {
    this.width = width;
    this.height = height;
    this.speedX = 0;
    this.speedY = 0;

    this.position = function() {
        if( otherplayers != ""){
            this.x = otherplayers[myName]["x_position"];
            this.y = otherplayers[myName]["y_position"];    
        }
    }

    this.update = function() {
        ctx = myGameArea.context;
        ctx.fillStyle = color;
        ctx.fillRect(this.x, this.y, this.width, this.height);
        
        console.log(myMessage)
        ctx.font = "20px Arial";
        ctx.fillText(myName, x-10, y-20);
        document.getElementById("msg").innerHTML = myMessage

        if(otherplayers != ""){
            document.getElementById("coordinate").innerHTML = "X: " + this.x + " Y: " + this.y;
        }
        updatePosition(this.x, this.y)
    }

     this.newPos = function() {
        this.x += this.speedX;
        this.y += this.speedY;   
    }    
}


var socket = io();

function updateGameArea() {
    if(otherplayers != ""){
        myGameArea.clear();
        myGamePiece.position();
        myGamePiece.newPos();    
        myGamePiece.update();
    }

    for(let player in otherplayers){
        if(myName != player){
            updateOtherPlayer(player,otherplayers[player]["x_position"],otherplayers[player]["y_position"])
        }
    }
    if(messages.length != 0){
        messages.forEach(player => {
            if(myName == player["name"]){
                var ret = player["message"]
                ret = ret.replaceAll('&','&amp')
                ret = ret.replaceAll('>','&gt')
                ret = ret.replaceAll('<','&lt')
                var sentit = player["sender"]
                sentit = sentit.replaceAll('&','&amp')
                sentit = sentit.replaceAll('>','&gt')
                sentit = sentit.replaceAll('<','&lt')
                myMessage = "From " + sentit + ": " + ret
                return
            }
            else{
                myMessage = ""
            }
        })
    }
    else{
        myMessage = ""
    }
    
}

function moveup() {
        myGamePiece.speedY = -1; 
}

function movedown() {
        myGamePiece.speedY = 1; 
}

function moveleft() {
        myGamePiece.speedX = -1; 
}

function moveright() {
        myGamePiece.speedX = 1; 
}

function stop() {
        myGamePiece.speedX = 0; 
        myGamePiece.speedY = 0;
}

function updatePosition(x, y){
    socket.emit('playerMoved',{
        name: myName,
        x_position: x,
        y_position: y
    })
}

function updateOtherPlayer(name,x,y){
    ctx = myGameArea.context;
    ctx.fillStyle = "red";
    ctx.fillRect(x, y, 30, 30);
    ctx.font = "30px Arial";
    ctx.fillText(name, x-10, y-20);
}



function connect(){
    socket.on('connect', function() {
    });
    socket.on( 'allPositions', function(players) {
        otherplayers = players;
    })
    socket.emit('SavedPosition')

    var form = $( 'form' ).on( 'submit', function( e ) {
        e.preventDefault()
        let username = $( 'input.username' ).val()
        let msg = $( 'input.message' ).val()
        socket.emit( 'Message', {
            name: username,
            message: msg,
            sender: myName
        } )
        $( 'input.message' ).val( '' ).focus()
    } )

    socket.on('response', function( msg ) {
        messages.push(msg)
    })

    setInterval(function(){ 
       if(messages.length != 0){
           messages.shift()
       }
    }, 7000);
}

myGamePiece = new component(30, 30, "blue", 1000, 1000);
myGameArea.start();

</script>

<div style="background-color: lightslategrey; display: flex; flex-direction: row; padding: 10px; justify-content: space-between;">
    <div style="text-align:center; width:480px; background-color: lightblue; width: 175px; height: 132px;">
        <b style="text-decoration: underline;">Movement Controls</b>
        <div style="display: flex; justify-content: center; ">
            <button onclick="moveup()">UP</button>
        </div>
        <div style="display: flex; width: 100%; justify-content: space-between; padding-top: 5px; padding-bottom: 5px;">
            <button onclick="moveleft()">LEFT</button>
            <button onclick="moveright()">RIGHT</button>
        </div>
        <div style="display: flex; justify-content: center;">
            <button onclick="movedown()">DOWN</button>
        </div>
        <br>
        <button onclick="stop()">STOP</button>
    </div>
      
    <button id="profile_button">Profile</button>
    <script>
        $('#profile_button').on('click', function() { window.location = '/profile'; });
    </script>
    <button id="logout_button">Logout</button>
    <script>
    $('#logout_button').on('click', function() { window.location = '/logout'; });
    </script>
</div>




</body>
</html>